.mycont {
    border-radius: 5px;
    border: 1px solid #777777;
}

.center-cropped {
    object-fit: none; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    height: 270px;
    width: 235px;
    margin-top: 12px;
}