* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
}

.nickname {
    color: steelblue;
    margin-right: 20px;
}

#chat-container {
    position: relative;
    height: 100%;

}

#chat-container #messageForm {
    padding: 20px;
}

#chat-container {
    border-radius: 5px;
    border: 1px solid #777777;
    background-color: #ffffff;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;

    height: calc(100% - 100px);
    max-height: 600px;
    position: relative;

}

#chat-container ul {
    list-style-type: none;
    background-color: #fff;
    margin: 0;
    overflow: auto;
    overflow-y: scroll;
    padding: 0 20px 0 20px;
    height: calc(100% - 270px);
}

#chat-container #messageForm {
    padding: 20px;
}

#chat-container ul li {
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0;
    border-bottom: 1px solid #f4f4f4;
}

#chat-container ul li p {
    margin: 0;
}

#chat-container .event-message p {
    color: #ffffff;
    font-size: 14px;
    word-wrap: break-word;
}

#chat-container .chat-message {
    position: relative;
}

